version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.8
    working_directory: /go/src/github.com/sauercrowd/http-perf
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure
      - run: go build
  run:
    docker:
      - image: circleci/golang:1.8
    working_directory: /go/src/github.com/sauercrowd/http-perf
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure
      - run: go install
      - run: http-perf -url https://github.com > /tmp/test-results
    store_test_results:
      path: /tmp/test-results

workflows:
  version: 2
  build-and-run:
    jobs:
      - build
      - run:
          requires:
            - build