version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.8
    working_directory: /go/src/github.com/sauercrowd/http-perf
    steps:
      - checkout
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure
      - run: go build
  test:
    docker:
      - image: circleci/golang:1.8
    working_directory: /go/src/github.com/sauercrowd/http-perf
    steps:
      - checkout
      - run: mkdir -p $TEST_RESULTS
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure
      - run: go get github.com/jstemmer/go-junit-report
      - run:
          name: Run unit tests
            command: |
              go test -v github.com/sauercrowd/http-perf/pkg/... | tee /tmp/go-test.out
              go-junit-report /tmp/go-test.out > /tmp/go-test-report.xml
      - store_test_results:
          path: go-test-report.xml
    
  run:
    docker:
      - image: circleci/golang:1.8
    working_directory: /go/src/github.com/sauercrowd/http-perf
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure
      - run: go install
      - run: http-perf -url https://github.com -n 1 -count 10 -json |& tee /tmp/test-results
      - store_artifacts:
          path: perf.json

workflows:
  version: 2
  build-and-run:
    jobs:
      - build
      - test:
          requires:
            - build
      - run:
          requires:
            - test